<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="ignore api" stopProcessing="true">
                    <match url="api/" />
                    <action type="None" />
                </rule>
                <rule name="route manifest" stopProcessing="true">
                    <match url="manifest.json" />
                    <action type="None" />
                </rule>
                <rule name="route favicon" stopProcessing="true">
                    <match url="favicon.ico" />
                    <action type="None" />
                </rule>
                <rule name="react Routes" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>